[submodule "content/content-fr"]
	path = content/content-fr
	url = https://gitlab.ilearned.eu/i-learned/blog/content-fr
[submodule "content/content-en"]
	path = content/content-en
	url = https://gitlab.ilearned.eu/i-learned/blog/content-en
