{% extends "base.html" %}
{% block content %}
<div id="post-list">
  <section>
    <p>
      I learned est un blog collaboratif vulgarisant des sujets en rapport avec le réseau, Linux, la cybersécurité et l'informatique en général. Tout le contenu de ce site est, sauf mention contraire, distribué sous la licence CC-BY-NC-SA,
      n'importe qui qui le souhaiterait est invité à contribuer à I Learned ! Pour cela, il suffit de nous envoyer un message sur <a href="https://twitter.com/ilearned_eu">Twitter</a>, <a href="https://toot.gnous.eu/web/accounts/24457">Mastodon</a>,
      ou par <a href="mailto:contact+ilearned@eban.bzh">mail</a>.
    </p>
  </section>

</div><!-- /#posts-list -->
{% endblock content %}
