{% extends "base.html" %} {% block head %} {{ super() }} {% assets filters="node-sass,cssmin", output="css/article.min.css",
"sass/article.sass" %}
<link rel="stylesheet" href="/{{ ASSET_URL }}" />
{% endassets %}
<!--- <script type="text/javascript" src="/theme/js/imageZoom.js" defer></script> --->
{% endblock %} {% block content %}

<div class="article">
    {% for author in article.authors %}
    <div class="author">
        <img src="https://cdn.ilearned.eu/img/contributors/{{ author|string|lower }}.webp" alt="Photo de profil de {{ author }}" />
        <a href="/author/{{ author|string|lower }}.html">{{ author }}</a>
    </div>
    {% endfor %}
    <h1 class="articleTitle">{{ article.title }}</h1>
    <div class="metadata">
        <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
        <b>·</b>
        <p>Lecture {{ article.readtime.minutes }}mn</p>
    </div>
    <article>{{ article.content }}</article>
    <script defer src="https://commento.ilearned.eu/js/commento.js" data-no-websockets="true"></script>
    <div id="commento"></div>
</div>
{% endblock %}
