<section class="articleList">
    {% for article in articles %}
    <div class="article card">
        {% for author in article.authors %}
        <div class="author">
            <img src="https://cdn.ilearned.eu/img/contributors/{{ author|string|lower }}.webp" alt="Photo de profil de {{ author }}" />
            <a href="/author/{{ author|string|lower }}.html">{{ author }}</a>
        </div>
        {% endfor %}
        <h3><a href="/{{ article.url }}">{{ article.title }}</a></h3>
        <a href="/{{ article.url }}">{{ article.summary }}</a>
        <div class="metadata">
            <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
            <b>·</b>
            <p>Lecture {{ article.readtime.minutes }}mn</p>
        </div>
    </div>
    {% endfor %}
</section>
