{% extends "base.html" %}
{% block content %}
<div id="post-list">

	{% for author in CONTRIBUTORS_DATA %}
	<div class="author">
		<img src="{{ CONTRIBUTORS_DATA[author].Image }}" alt="{{ author }} profile picture">
		<div class="links">
			{% for link in CONTRIBUTORS_DATA[author] %}
			{% if link|lower != 'image' %}
			<a href="{{ CONTRIBUTORS_DATA[author][link] }}" style="background-color: #000;" class="changeCategory">
				<img class="icon" src="/theme/img/authors/{{ link|lower }}.svg" alt="{{ link }}">
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}

	<div class="author">
		<img src="/theme/img/authors/you.svg" alt="You" style="border-radius:0;">
		<p class="authorName">What about <br> <a class="authorName" style="display:inline;color:#ED6A5E;font-weight:700;font-size: 100%;"
				href="mailto:contact@ilearned.eu?subject=I'd like to post on I Learned !&cc=ramle+ilearned@ramle.be&body=Hi, I'd like to post on I Learned, my pseudo is "> you</a> ?</p>
	</div>

</div>
{% endblock content %}
