<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        {% block head %}
          <title>{% block title %}{{ SITENAME }}{% if article %} - {{ article.title }}{% endif %}{% endblock title %}</title>
          <meta charset="utf-8" />
          {% if FEED_RSS %}
          <link
              href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
              type="application/rss+xml"
              rel="alternate"
              title="{{ SITENAME }} RSS Feed"
          />
          {% endif %}
          <link rel="stylesheet" href="https://cdn.ilearned.eu/css/base.min.css" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
          <link rel="shortcut icon" href="/theme/img/favicon.svg" />
          <link rel="shortcut icon" href="/theme/img/favicon.webp" />
          <meta
              name="keywords"
              content="developpeur, networking, réseau, today I learned, developper, infosec, hacking, pentest, pentesting, blog, privacy, vie privée, github"
          />
          <meta property="og:type" content="website" />
          <meta property="og:title" content="{% if article %} {{ article.title }} {% else %} I Learned {% endif %}" />
          <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
          <meta charset="UTF-8" />
          <meta
              property="og:description"
              content="{% if article %} {{ article.summary }} {% else %} I learned est un blog collaboratif vulgarisant des sujets en rapport avec le réseau, Linux, la cybersécurité et l'informatique en général. {% endif %}"
          />
          <meta
              name="description"
              content="{% if article %} {{ article.summary }} {% else %} I learned est un blog collaboratif vulgarisant des sujets en rapport avec le réseau, Linux, la cybersécurité et l'informatique en général. {% endif %}"
          />
          <meta property="og:url" content="https://ilearned.eu/" />
          <meta property="og:image" content="/theme/img/favicon.webp" />
          <meta property="og:image:width" content="512" />
          <meta property="og:image:height" content="512" />
          <meta property="og:locale" content="fr_FR" />
          <script src="https://cdn.ilearned.eu/js/header.js" charset="utf-8" defer></script>
        {% endblock head %}
    </head>

    <body>
        {% include 'header.html' %}
        <main>
          {% block content %}
          {% endblock %}
        </main>
        {% include 'footer.html' %}
    </body>
</html>
