{% block footer %}
<a class="bottomLink" href="/rss.xml">RSS</a>
<b>·</b> <a class="bottomLink" href="https://twitter.com/ilearned_eu">Twitter</a>
<b>·</b> <a class="bottomLink" href="https://toot.gnous.eu/web/accounts/24457">Mastodon</a>
<footer>
  Sauf mention contraire, le contenu de ce site est distribué sous la licence CC-BY-NC-SA.
  <img src="/static/img/theme/licence.svg" alt="Pas d'utilisation commerciale, attribution et partage sous la meme licence obligatoires">
</footer>
{% endblock %}
