{% block footer %}
<a class="bottomLink" href="/rss.xml">RSS</a>
<b>·</b>
<a class="bottomLink" href="https://twitter.com/ilearned_eu">Twitter</a>
<b>·</b>
<a class="bottomLink" href="https://toot.gnous.eu/@ilearned">Mastodon</a>
<footer>
    {% trans %} Sauf mention contraire, le contenu de ce site est distribué sous
    la licence {% endtrans %} CC-BY-NC-SA.
    <img
        src="/theme/img/licence.svg"
        alt="{% trans %} Pas d'utilisation commerciale, attribution et partage sous la meme licence obligatoires {% endtrans %}"
    />
</footer>
{% endblock %}
