<div class="header">
  <h1><a href="/">{% if output_file == "about.html" %}À Propos{% elif output_file == "search.html" %}Rechercher{% elif output_file == "authors.html" %}Contributeurs{% else %}I Learned{% endif %}</a></h1>
  <a href="https://twitter.com/ilearned_eu" class="changeCategory">
    <img src="/theme/img/twitter.svg" alt="Compte Twitter">
  </a>
  <a href="https://toot.gnous.eu/web/accounts/24457" class="changeCategory">
    <img src="/theme/img/mastodon.svg" alt="Compte Mastodon">
  </a>
  <a href="https://ilearned.eu/rss.xml" class="changeCategory">
    <img src="/theme/img/rss.svg" alt="Flux RSS">
  </a>
  <div class="links">
    <a href="/">Accueil</a>
    <b> · </b>
    <a href="/about.html">À Propos</a>
    <b> · </b>
    <a href="/authors.html">Contributeurs</a>
    <b> · </b>
    <a href="/search.html">Recherche</a>
    <b> · </b>
    <a href="https://links.ilearned.eu">Links</a>
  </div>
</div>
