<header>
    <div class="left">
        <img src="https://ilearned.eu/static/img/logo.svg" alt="" class="icon" />
        <a href="/"
            ><h2>I Learned <b>Blog</b></h2></a
        >
    </div>
    <div onclick="openMenu()" id="menuIcon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="right">
        <a href="/">🧭 {% trans %}Explorer{% endtrans %}</a>
        <a href="/search.html">🔍 {% trans %}Chercher{% endtrans %}</a>
        <a href="https://ilearned.eu">🏠 {% trans %}Site principal{% endtrans %}</a>
    </div>
</header>
