<div class="header">
  <h1><a href="/">{% if output_file == "about.html" %}About{% elif output_file == "search.html" %}Search{% elif output_file == "authors.html" %}Contributors{% else %}I Learned{% endif %}</a></h1>
  <a href="https://twitter.com/ilearned_eu" class="changeCategory">
    <img src="/theme/img/twitter.svg" alt="Twitter">
  </a>
  <a href="https://toot.gnous.eu/@ilearned" class="changeCategory">
    <img src="/theme/img/mastodon.svg" alt="Mastodon">
  </a>
  <a href="https://ilearned.eu/rss.xml" class="changeCategory">
    <img src="/theme/img/rss.svg" alt="RSS Feed">
  </a>
  <div class="links">
    <a href="/">Home</a>
    <b> · </b>
    <a href="/about.html">About</a>
    <b> · </b>
    <a href="/authors.html">Contributors</a>
    <b> · </b>
    <a href="/search.html">Search</a>
    <b> · </b>
    <a href="https://links.ilearned.eu">Links</a>
  </div>
</div>
