{% extends "base.html" %}
{% block content %}
<div class="graphContainer">

</div>
<script type="text/javascript" src="/theme/js/d3.v3.min.js"></script>
<script type="text/javascript" src="/theme/js/arf.js"></script>
<div id="post-list">
  {% for article in articles_page.object_list %}
    <article>
      <h2 class="entry-title"><a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
      <img src="/static/img/theme/calendar.svg" alt="">
      <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
      <b>·</b>
      <img src="/static/img/theme/user.svg" alt="">
      <label><a href="/author/{{ article.author|lower }}.html">{{ article.author }}</a></label>
      <b>·</b>
      <img src="/static/img/theme/clock.svg" alt="">
      <label>{{ article.readtime.minutes }} minute(s)</label>
      <p> {{ article.summary }} </p>
    </article>
  {% endfor %}
</div>

{% endblock content %}
