{% extends "base.html" %} {% block head %} {{ super() }} {% assets filters="node-sass,cssmin", output="css/articleList.min.css",
"sass/articleList.sass" %}
<link rel="stylesheet" href="/{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block content %}

<div class="title">
    <h1>📈 {% trans %}Les plus lus{% endtrans %}</h1>
</div>

<section class="articleList">
    {% for article in TOP_READ %}
    <div class="article card">
        <div class="author">
            <img
                src="https://cdn.ilearned.eu/img/contributors/{{ article.author|string|lower }}.webp"
                alt="{% trans %}Photo de profil de {{ article.author }}{% endtrans %}"
            />
            <a href="/author/{{ article.author|lower }}.html">{{ article.author }}</a>
        </div>
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
        <a href="{{ article.url }}">{{ article.summary }}</a>
        <div class="metadata">
            <time class="published"> {{ article.locale_date }} </time>
            <b>·</b>
            <p>{% trans %}Lecture {{ article.readtime }}mn{% endtrans %}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}
