{% extends "base.html" %} {% block content %}
<div id="post-list">
    <form action="search.html">
        <div class="tipue_search_group">
            <input type="text" name="Search" placeholder="{% trans %}Protocole IP{% endtrans %}" id="tipue_search_input" autofocus />
        </div>
    </form>
    <div id="tipue_search_content"></div>

    <script src="/tipuesearch_content.js"></script>
    <script src="/theme/js/tipuesearch_set.js"></script>
    <script src="/theme/js/tipuesearch.min.js"></script>
    <script>
        tipuesearch(document.getElementById('tipue_search_input'))
    </script>
</div>
{% endblock content %}
