@font-face {
    font-family: 'Montserrat';
    src: url('https://res.eban.bzh/font/montserrat.woff2');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

html{
  overflow-x: hidden;
}

body{
  background: #292948;
  overflow-x: hidden;
  padding: 15px 26%;
}


iframe{
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 35vh;
}

.header{
  margin-top: 5vh;
  width: max-content;
  display: inline-block;
}

li p{
  margin-top: 0 !important;
}

.header h1{
  font-size: 3vw;
  display: inline-block;
}

.header h1 a{
  font-family: Montserrat;
}

.changeCategory{
  float: right;
  display: flex;
  align-items: center;
  background: #bd5757;
  border-radius: 15px;
  padding: 2px 13px;
  margin-top: 4.6vw;
}

.changeCategory p{
  margin-left: 10px;
  font-size: 15px;
}

.icon{
  width: 70px;
}

h2 a, .url.fn.category{
  color: #f0b6b6;
}

#post-list{
  margin-top: 5vh;
  padding-bottom: 10vh;
  margin-bottom: 20vh;
}

.category_title{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

#post-list > article {
  margin-bottom: 2vh;
  /*! margin-top: 5vh; */
  display: inline-block;
  border-top: none;
  /*! padding-bottom: 4vh; */
}

#post-list > article ~ article {
  border-top: 1px solid #626262;
}

article svg{
  width: 18px;
  height: 18px;
  transform: translateY(22%);
}

article a{
  font-style: normal;
  /*! color: ; */
}

article .button{
  font-size: 15px;
  position: absolute;
  padding: 10px;
  background-color: #682157;
  margin-top: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

article .button:hover{
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.9);
  transform: scale(1.02);
}

article h2{
  margin-top: 2vw;
  margin-bottom: 0.3vw;
  /*! color: #f98e8e; */
}

article h3{
  margin-top: 3vw;
}

article p{
  margin-top: 20px;
  line-height: 23px;
}

article address, article time{
  font-size: 14px;
}

section h3{
  margin-top: 5vh;
}

section h2{
  margin-top: 50px;
  margin-bottom: 15px;
}

section img{
  margin: 50px 0px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  transition: 0.3s;
  margin-right: 20%;
  box-shadow: 0px 0px 15px 0px #434343;
}


section img:hover{
  transform: scale(1.3);
}

section{
  padding-bottom: 8vh;
}

section p{
  margin-top: 30px;
}

section code{
  font-family: monospace;
  background: #262626;
  color: #ff5e5e;
  padding: 3px 0px;
  border-radius: 3px;
  margin-right: 5px;
  padding-left: 5px;
}

section s{
  text-decoration: line-through;
}

section table{
  width: max-content;
  font-size: 13px;
  margin-top: 30px;
  border-spacing: 0px;
}

section td{
  padding: 5px;
  border: 1px solid #777;
}

table td + td{
  border: 1px solid #777;
}

.highlight pre code{
  margin-top: 10px;
  display: block;
  background: #000;
  border-radius: 8px;
  padding: 13px 15px;
  font-size: 13px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  overflow: auto;
  color: #fff;
}

.highlight pre{
  overflow: auto;
}

.highlight pre code span{
  font-family: monospace;
}

section blockquote{
  padding-left: 25px;
  border-left: 5px solid #d83d3d;
}

section blockquote *{
  font-size: 14px;
}

li{
  margin-left: 15px;
  margin-top: 1vh;
}

section h1{
  padding-top: 3vw;
}

section a span, section a{
  color: #f0b6b6;
}

section a span:hover, section a:hover{
  text-decoration: underline;
  text-decoration-style: dashed;
}

article.post-list .entry-title{
  margin-top: 0;
  margin-bottom: 2vw;
  font-size: 30px;
  text-align: center;
}

.reco .card{
  padding: 50px 40px;
  margin-top: 40px;
  background: #000;
  display: inline-block;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.75);
  text-align: center;
  max-width: 100%;
  margin-right: 50px;
}

.reco h2{
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .header h1{
    font-size: 10vw;
  }

  body{
    padding: 15px 10%;
  }

  #post-list{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .changeCategory{
    float: left;
    margin-top: 0;
  }
  .tableWrapper{
    width:110% !important;
  }
}


.highlight pre .hll {
 background-color:#49483e
}
.highlight pre .c {
 color:#75715e
}
.highlight pre .k {
 color:#66d9ef
}
.highlight pre .l {
 color:#ae81ff
}
.highlight pre .n {
 color:#f8f8f2
}
.highlight pre .o {
 color:#f92672
}
.highlight pre .p {
 color:#f8f8f2
}
.highlight pre .ch {
 color:#75715e
}
.highlight pre .cm {
 color:#75715e
}
.highlight pre .cp {
 color:#75715e
}
.highlight pre .cpf {
 color:#75715e
}
.highlight pre .c1 {
 color:#75715e
}
.highlight pre .cs {
 color:#75715e
}
.highlight pre .gd {
 color:#f92672
}
.highlight pre .ge {
 font-style:italic
}
.highlight pre .gi {
 color:#a6e22e
}
.highlight pre .gs {
 font-weight:bold
}
.highlight pre .gu {
 color:#75715e
}
.highlight pre .kc {
 color:#66d9ef
}
.highlight pre .kd {
 color:#66d9ef
}
.highlight pre .kn {
 color:#f92672
}
.highlight pre .kp {
 color:#66d9ef
}
.highlight pre .kr {
 color:#66d9ef
}
.highlight pre .kt {
 color:#66d9ef
}
.highlight pre .ld {
 color:#e6db74
}
.highlight pre .m {
 color:#ae81ff
}
.highlight pre .s {
 color:#e6db74
}
.highlight pre .na {
 color:#a6e22e
}
.highlight pre .nb {
 color:#f8f8f2
}
.highlight pre .nc {
 color:#a6e22e
}
.highlight pre .no {
 color:#66d9ef
}
.highlight pre .nd {
 color:#a6e22e
}
.highlight pre .ni {
 color:#f8f8f2
}
.highlight pre .ne {
 color:#a6e22e
}
.highlight pre .nf {
 color:#a6e22e
}
.highlight pre .nl {
 color:#f8f8f2
}
.highlight pre .nn {
 color:#f8f8f2
}
.highlight pre .nx {
 color:#a6e22e
}
.highlight pre .py {
 color:#f8f8f2
}
.highlight pre .nt {
 color:#f92672
}
.highlight pre .nv {
 color:#f8f8f2
}
.highlight pre .ow {
 color:#f92672
}
.highlight pre .w {
 color:#f8f8f2
}
.highlight pre .mb {
 color:#ae81ff
}
.highlight pre .mf {
 color:#ae81ff
}
.highlight pre .mh {
 color:#ae81ff
}
.highlight pre .mi {
 color:#ae81ff
}
.highlight pre .mo {
 color:#ae81ff
}
.highlight pre .sb {
 color:#e6db74
}
.highlight pre .sc {
 color:#e6db74
}
.highlight pre .sd {
 color:#e6db74
}
.highlight pre .s2 {
 color:#e6db74
}
.highlight pre .se {
 color:#ae81ff
}
.highlight pre .sh {
 color:#e6db74
}
.highlight pre .si {
 color:#e6db74
}
.highlight pre .sx {
 color:#e6db74
}
.highlight pre .sr {
 color:#e6db74
}
.highlight pre .s1 {
 color:#e6db74
}
.highlight pre .ss {
 color:#e6db74
}
.highlight pre .bp {
 color:#f8f8f2
}
.highlight pre .vc {
 color:#f8f8f2
}
.highlight pre .vg {
 color:#f8f8f2
}
.highlight pre .vi {
 color:#f8f8f2
}
.highlight pre .il {
 color:#ae81ff
}
