@font-face {
    font-family: 'Montserrat';
    src: url('https://res.eban.bzh/font/montserrat.woff2');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

body{
  background: #141429;
  overflow-x: hidden;
  padding: 15px 30%;
}


iframe{
  border-radius: 10px;
  margin-left: 50%;
  transform: translate(-50%);
}

.header{
  margin-top: 5vh;
  width: max-content;
  display: inline-block;
}

.header h1{
  font-size: 3vw;
  display: inline-block;
}

.header h1 a{
  font-family: Montserrat;
}

.changeCategory{
  float: right;
  display: flex;
  align-items: center;
  background: #bd5757;
  border-radius: 15px;
  padding: 2px 13px;
  margin-top: 4.6vw;
}

.changeCategory p{
  margin-left: 10px;
  font-size: 15px;
}

.icon{
  width: 70px;
}

h2 a, .url.fn.category{
  color: #f0b6b6;
}

#post-list{
  margin-top: 5vh;
  padding-bottom: 10vh;
  margin-bottom: 20vh;
}

.category_title{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

#post-list > article {
  margin-bottom: 2vh;
  /*! margin-top: 5vh; */
  display: inline-block;
  border-top: none;
  /*! padding-bottom: 4vh; */
}

#post-list > article ~ article {
  border-top: 1px solid #333;
}

article svg{
  width: 18px;
  height: 18px;
  transform: translateY(22%);
}

article a{
  font-style: normal;
  /*! color: ; */
}

article .button{
  font-size: 15px;
  position: absolute;
  padding: 10px;
  background-color: #682157;
  margin-top: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

article .button:hover{
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.9);
  transform: scale(1.02);
}

article h2{
  margin-top: 2vw;
  margin-bottom: 0.3vw;
  /*! color: #f98e8e; */
}

article h3{
  margin-top: 3vw;
}

article p{
  margin-top: 20px;
}

article address, article time{
  font-size: 14px;
}

section h3{
  margin-top: 5vh;
}

section h2{
  margin-top: 50px;
  margin-bottom: 15px;
}

section img{
  margin: 50px 0px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}

section{
  padding-bottom: 8vh;
}

section p{
  margin-top: 30px;
}

section code{
  font-family: monospace;
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 3px;
  display: block;
}

section blockquote{
  padding-left: 25px;
  border-left: 5px solid #d83d3d;
}

section blockquote *{
  font-size: 14px;
}

li{
  margin-left: 15px;
  margin-top: 1vh;
}

section h1{
  padding-top: 3vw;
}

section a span, section a{
  color: #f0b6b6;
}

section a span:hover, section a:hover{
  text-decoration: underline;
  text-decoration-style: dashed;
}

article.post-list .entry-title{
  margin-top: 0;
  margin-bottom: 2vw;
  font-size: 30px;
  text-align: center;
}

.reco .card{
  padding: 50px 40px;
  margin-top: 40px;
  background: #000;
  display: inline-block;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.75);
  text-align: center;
  max-width: 100%;
  margin-right: 50px;
}

.reco h2{
  margin-top: 0;
}

.preview-card {
    width: 150px;
    display: none;
    font-size: 10px;
    color: black;

    position: absolute;
    z-index: 100;

    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.link-with-preview {
    position: relative;
}

.preview-card img {
    width: 150px;
}

.card-title {
    font-size: 14px;
}

@media screen and (max-width: 640px) {
  .header h1{
    font-size: 10vw;
  }

  body{
    padding: 15px 10%;
  }

  #post-list{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .changeCategory{
    float: left;
    margin-top: 0;
    margin-bottom: 6vw;
  }
}

