*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

body{
  background: #070707;
  overflow-x: hidden;
}

.header::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 40vh;
  background-image: url("../img/header.gif");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -1;
}

.header h1{
  text-align: center;
  padding-top: 6%;
  font-size: 3vw;
}

.header .nav{
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin-top: 2%;
  float: right;
  margin-right: 30px;
}

.header .nav a{
  background: rgba(0, 0, 0, 0.7);
  padding: 3% 5%;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-weight: bold;
}

.header .nav a:hover{
  background: rgba(0, 0, 0, 1);
}

#post-list{
  margin-top: 10vh;
  width: 60%;
  margin-left: 20%;
  background: #0b0b2d;
  padding: 5% 10% 1% 10%;
  border-radius: 1vw;
  box-shadow: 7px 10px 20px 1px rgba(0,0,0,0.58);
  padding-bottom: 10vh;
  margin-bottom: 20vh;
}

.category_title{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

#post-list > article {
  margin-bottom: 2vh;
  margin-top: 5vh;
  display: inline-block;
  border-top: none;
  padding-bottom: 4vh;
}

#post-list > article ~ article {
  border-top: 1px solid #333;
}

article svg{
  width: 18px;
  height: 18px;
  transform: translateY(22%);
}

article a{
  font-style: normal;
}

article .button{
  font-size: 15px;
  position: absolute;
  padding: 10px;
  background-color: #682157;
  margin-top: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

article .button:hover{
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.9);
  transform: scale(1.02);
}

article h2{
  margin-top: 3vw;
  margin-bottom: 0.3vw;
}

article h3{
  margin-top: 3vw;
}

article p{
  margin-top: 20px;
}

article address, article time{
  font-size: 14px;
}

section h3{
  margin-top: 5vh;
}

section h2{
  margin-top: 50px;
  margin-bottom: 15px;
}

section img{
  margin: 50px 0px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.35);
}

section{
  padding-bottom: 8vh;
}

section p{
  margin-top: 30px;
}

section code{
  font-family: monospace;
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 3px;
  display: block;
}

section blockquote{
  padding-left: 25px;
  border-left: 5px solid #682157;
}

section blockquote *{
  font-size: 14px;
}

li{
  margin-left: 15px;
  margin-top: 1vh;
}

section h1{
  padding-top: 3vw;
}

section a span, section a{
  color: #953cff;
}

.entry-title{
  margin-top: 0;
  margin-bottom: 2vw;
  font-size: 30px;
  text-align: center;
}

.reco .card{
  padding: 50px 40px;
  margin-top: 40px;
  background: #000;
  display: block;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.75);
  text-align: center;
}

.reco h2{
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .header h1{
    font-size: 10vw;
    margin-top: 15%;
  }

  #post-list{
    width: 90%;
    margin-left: 5%;
    padding: 8% 10% 15% 10%;
  }

  article h2{
    margin-bottom: 20px;
    font-size: 20px;
  }

  #post-list{
    margin-bottom: 10vh;
    padding: 8% 10% 15% 10%;
  }

  .header .nav{
    margin-left: 0%;
    width: 100%;
    margin-top: 20px;
    float: none;
  }

  .reco .card{
    width: 100%;
  }

  .entry-title{
    margin-top: 40px;
  }

  #post-list > article{
    margin-top: 7vh;
  }
}
