.article
  .author
    display: flex
    align-items: center
    gap: 8px
    img
      width: 22px
      height: max-content
      border-radius: 3px
    a
      font-size: 18px
      font-weight: 500
      opacity: 90%
  h3
    margin-top: 5px
    margin-bottom: 1px
    a
      color: var(--cta-dark-color)
  p
    margin-bottom: 1px
  .metadata
    font-weight: 500
    opacity: 70%
    display: flex
    gap: 5px

.title
  display: flex
  gap: 10px
  align-items: center
  margin: 36px auto
  width: max-content
  h1, h2
    font-weight: 500
    font-size: 27px
  img
    height: 30px
    border-radius: 5px
